In [1]:
import numpy as np
import pandas as pd

In [11]:
chipo = pd.read_csv("./chipotle.csv", on_bad_lines='skip').
chipo.head()

  order_id\tquantity\titem_name\tchoice_description\titem_price
0   1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                   1\t1\tIzze\t[Clementine]\t$3.39
2            1\t1\tNantucket Nectar\t[Apple]\t$3.39
3  1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4                  3\t1\tSide of Chips\tNULL\t$1.69

In [13]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 1 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   order_id	quantity	item_name	choice_description	item_price  1795 non-null   object
dtypes: object(1)
memory usage: 14.2+ KB

In [19]:
np.shape(chipo)

(1795, 1)

In [27]:
chipo.columns.values

array(['order_id\tquantity\titem_name\tchoice_description\titem_price'],
      dtype=object)